APP_ENV=dev
APP_SECRET=CHANGE_ME_GENERATE_WITH_PHP_BIN_CONSOLE_SECRET
DATABASE_URL=mysql://taskflow:taskflow_pass@db:3306/taskflow?serverVersion=8.0
MESSENGER_TRANSPORT_DSN=redis://redis:6379
MEILISEARCH_URL=http://meilisearch:7700
MEILISEARCH_KEY=masterKey123
REDIS_HOST=redis
REDIS_PORT=6379