includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon

parameters:
    paths:
        - src
    level: 6

    excludePaths:
        - var/*
        - vendor/*
        - migrations/*
        - public/*
        - src/Kernel.php
