<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         executionOrder="depends"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         cacheResult="true"
         cacheDirectory=".phpunit.cache"
         stderr="true">
    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>
    <testsuites>
        <testsuite name="Domain">
            <directory>tests/Domain</directory>
        </testsuite>
        <testsuite name="Application">
            <directory>tests/Application</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory>tests/Infrastructure</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/Domain</directory>
            <directory suffix=".php">src/Application</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Infrastructure</directory>
            <file>src/Kernel.php</file>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <text outputFile="php://stdout" showUncoveredFiles="false" showOnlySummary="true"/>
            <clover outputFile="var/coverage/clover.xml"/>
        </report>
    </coverage>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="DEFAULT_URI" value="http://localhost"/>
        <env name="JWT_PASSPHRASE" value="test_passphrase"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="disabled=1" />
    </php>
</phpunit>
